@page "/"
@inject Animal_Collector.Models.CardService CardService
@using System.Timers
@using Animal_Collector.Models;

<PageTitle>Start</PageTitle>

<header>
    <nav>
        <ul>
            <li><a href="/"> Start </a></li>
            <li><a href="/Shop"> Shop </a></li>
            <li><a href="/Profile"> Profil </a></li>
            <li><a href="/Login"> Anmelden </a></li>
        </ul>
    </nav>
</header>

<div class="container">
<h1>Tägliche Belohnung</h1>

<div class="coin-display">
    <span class="coin-count">Anzahl Coins: @coins</span>
</div>

@if (cardDrawn)
{
    <div class="card @drawnCardClass">
        <img src="@drawnCard.ImageUrl" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@drawnCard.Title</h5>
            <p class="card-text">@drawnCard.Description</p>
        </div>
    </div>
}
<p>@message</p>
    <div class="button-container">
        <button @onclick="ClaimReward">Forderere eine tägliche Belohnung ein!</button>
    </div>
</div>

@code {
    string message = "Drücke den Knopf, um deine tägliche Belohnung einzufordern!";
    bool rewardClaimed = false;
    bool cardDrawn = false;
    int coins = 0;
    Card drawnCard;
    string drawnCardClass;

    Random random = new Random();

    void ClaimReward()
    {
        if (!rewardClaimed)
        {
            int randomNumber = random.Next(0, 2);

            if (randomNumber == 0)
            {
                var cards = new List<(Card, string)>
                {
                    (new Card { Title = "Katze", Description = "Gewöhnlich", ImageUrl = "https://media.os.fressnapf.com/cms/2021/05/kosten_katze_1200x527.jpg?t=seoimg_937" }, "katze"),
                    (new Card { Title = "Fuchs", Description = "Selten", ImageUrl = "https://image.geo.de/33687588/t/cY/v1/w1440/r1/-/fuchs-bild3.jpg" }, "fuchs"),
                    (new Card { Title = "Schlange", Description = "Episch", ImageUrl = "https://image.geo.de/33592814/t/tp/v4/w1440/r1/-/microsoftteams-image--1-.jpg" }, "schlange"),
                    (new Card { Title = "Löwe", Description = "Legendär", ImageUrl = "https://www.peta.de/wp-content/uploads/2021/06/loewe-kopf-ingo-stiller-3tkxfe2GocY-c-unsplash.jpg" }, "loewe"),
                    (new Card { Title = "Drache", Description = "Mythisch", ImageUrl = "https://mim.p7s1.io/pis/ld/7cb4zChLCVyZ-c1vEwXZAanB-DJ78rnq2V2gRWTHzVV6NywNWMSJCEGmZ4YSENP-WRL0b9lo2zmFQhTMhL_pkAfRVJ5kYjddQy17P3vfpacvxpkL0uTW3V81YSmTqQ66iDSmfEJPXL4/profile:original?rect=0%2C0%2C5870%2C3302&w=1070" }, "drache")
                };

                var drawnCardInfo = cards[random.Next(cards.Count)];
                drawnCard = drawnCardInfo.Item1;
                drawnCardClass = drawnCardInfo.Item2;
                CardService.AddCard(drawnCard);

                message = "Glückwunsch! Du hast eine neue Karte erhalten!";
                cardDrawn = true;
            }
            else
            {
                int coinsEarned = random.Next(100, 1001);
                coins += coinsEarned;
                message = $"Glückwunsch! Du hast {coinsEarned} coins verdient!";
            }

            rewardClaimed = true;
        }
        else
        {
            message = "Du hast deine tägliche Belohnung für heute bereits beansprucht! Komm später wieder vorbei!";
        }
    }
}

<style>
    body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/937/885/158/monochrome-black-clouds-mountains-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

    .container {
        
        text-align: center;
    }

    .button-container {
        margin-top: 20px;
    }

    .button-container button {
        padding: 10px 20px;
        font-size: 1em;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .button-container button:hover {
        background-color: #0056b3;
    }

    header {
        background-color: #333;
        padding: 10px 0;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0px;
        text-align: center;
    }

        nav ul li {
            display: inline;
            margin-left: 100px;
            margin-right: 100px;
        }

            nav ul li a {
                text-decoration: none;
                color: #fff;
                padding: 8px 16px;
                border-radius: 5px;
                transition: background-color 0.3s ease;
            }

                nav ul li a:hover {
                    background-color: #555;
                }

    .coin-display {
        display: flex;
        align-items: center;
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    .coin-count {
        font-weight: bold;
    }

    .card-img-top {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .card {
        width: 18%;
        height: auto;
        color: white;
        text-align: center;
        margin: 10px;
        display: inline-block;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }

    .katze {
        background-image: url('https://t4.ftcdn.net/jpg/01/99/66/61/360_F_199666182_Nv5YbO1N0MPo4D9VYNBzFSq15qyQnqT1.jpg');
        background-size: cover;
        background-position: center;
    }

    .fuchs {
        background-image: url('https://img.freepik.com/vektoren-kostenlos/blauer-notleidender-schmutz-texturhintergrund_1409-2927.jpg');
        background-size: cover;
        background-position: center;
    }

    .schlange {
        background-image: url('https://media.istockphoto.com/id/1282079393/photo/abstract-purple-texture-background.webp?b=1&s=170667a&w=0&k=20&c=Cp39kEmIbx-YOqhltnA1YxEINLiGoUMRlTMKw_fJbGs=');
        background-size: cover;
        background-position: center;
    }

    .loewe {
        background-image: url('https://img.goodfon.com/original/2560x1440/c/ba/gold-texture-golden-zoloto-fon.jpg');
        background-size: cover;
        background-position: center;
    }

    .drache {
        background-image: url('https://i.etsystatic.com/28921914/r/il/d609d7/3871586228/il_fullxfull.3871586228_47zp.jpg');
        background-size: cover;
        background-position: center;
    }

    .card-body {
        background: rgba(0, 0, 0, 0.3);
        padding: 10px;
    }

    .card-title, .card-text {
        margin: 0;
    }
</style>